<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/bootstrap-css/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

<body ng-app="AngularScaffold">
    
    <div ng-controller="LoginController">
        <div class="container" ng-show="$sessionStorage.currentUser">
            <h1> Welcome {{$sessionStorage.currentUser.username}} </h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header pull-right">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group" ng-show="!$sessionStorage.currentUser">
                            <input type="text" class="form-control" placeholder="username" ng-model="user.username">
                            <input type="password" class="form-control" placeholder="password" ng-model="user.password">
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="login(user)">Log in</button>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="logout()" ng-show="$sessionStorage.currentUser">Log out</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        
        <br>
        <div class="container" ng-show="!$sessionStorage.currentUser">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <form id="register-form" action="#" method="post" role="form" style="display: block;">
                                        <h2 id="regi">Enter data</h2>
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" ng-model="user.username">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Name" value="" ng-model="user.name">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" ng-model="user.password">
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <button type="submit" id="botr" class="btn btn-outline-info btn-lg" ng-click="register()">REGISTER</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 tabs">
                                    <a href="#" class="active" id="register-form-link">
                                        <div class="register">REGISTRATION DATA</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div ui-view></div>
    </div>
    <br>
    <br>
    <br>
    <footer>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center">

            </div>
        </div>
    </footer>


</body>

<script src="/jquery/dist/jquery.js"></script>

<script src="/angular/angular.js"></script>

<script src="/angular-ui-router/release/angular-ui-router.js"></script>

<script src="/bootstrap-css/js/bootstrap.min.js"></script>

<script src="/ngstorage/ngStorage.js"></script>

<script src="/bootstrap/dist/js/bootstrap.js"></script>


<script src="app.js"></script>
<script src="scripts/controllers/homeController.js"></script>
<script src="scripts/controllers/loginController.js"></script>
<script src="scripts/services/authService.js"></script>
<script src="scripts/services/homeService.js"></script>

</html>
